// font-size
.f_s_24 {
    font-size: 24px;
}

// flex
.flex {
    display: flex;
}
.flex_c {
    @extend .flex;
    align-items: center;
    justify-content: center;
}
.flex_ai_c {
    @extend .flex;
    align-items: center;
}
.flex_jc_sb {
    @extend .flex;
    justify-content: space-between;
}

// margin
.m_l_5 {
    margin-left: 5px;
}
.m_l_10 {
    margin-left: 10px;
}
.m_t_15 {
    margin-top: 15px;
}
.m_t_20 {
    margin-top: 20px;
}
// padding
.p_20 {
    padding: 20px;
}

// other
.cursor_p {
    cursor: pointer;
}
