@use './variables.scss' as variable;
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
    $colors: (
        'primary': (
            'base': variable.$color-primary
        )
    ),
    $text-color: (
        'regular': var(--text-color)
    ),
    $bg-color: (
        'overlay': var(--bg-color-overlay)
    ),
    $border-color: (
        'light': var(--border-color)
    ),
    $dropdown: (
        'menuItem-hover-fill': var(--menuItem-hover-fill),
        'menuItem-hover-color': var(--text-color)
    )
);

@use 'element-plus/theme-chalk/src/index.scss' as *;
