@use './variables.scss' as variable;
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
    $colors: (
        'primary': (
            'base': variable.$color-primary
        )
    ),
    $text-color: (
        'regular': var(--text-color),
        'primary': var(--text-color)
    ),
    $bg-color: (
        'overlay': var(--bg-color-overlay)
    ),
    $border-color: (
        '': var(--border-color),
        'light': var(--border-color)
    ),
    $dropdown: (
        'menuItem-hover-fill': var(--menuItem-hover-fill),
        'menuItem-hover-color': var(--text-color)
    ),
    $datepicker: (
        'inrange-bg-color': var(--inrange-bg-color),
        'inrange-hover-bg-color': var(--inrange-bg-color)
    ),
    $input: (
        'bg-color': var(--input-bg-color),
        'hover-border-color': var(--border-color)
    ),
    $fill-color: (
        'light': var(--inrange-bg-color)
    ),
    $select: (
        'border-color-hover': var(--border-color)
    ),
    $table: (
        'border-color': var(--border-color),
        'fixed-left-column': inset 10px 0 10px -10px var(--table-fixed-shadow),
        'fixed-right-column': inset -10px 0 10px -10px var(--table-fixed-shadow)
    )
);

@use 'element-plus/theme-chalk/src/index.scss' as *;
