@font-face {
    font-family: 'numFont';
    src: url('../font/DINEngAlt.ttf') format('ttf');
}

$color-primary: #007eff;
$color-contrast: #f54b45;

$color-black: black;
$color-black-1: #333333;
$color-black-2: #666666;
$color-black-3: #999999;
$color-white: white;

$fill-color-light1: #f2f4f9;
$fill-color-light2: #eef4f8;
$fill-color-light3: #d9dfee;

$fill-color-dark1: #121523;
$fill-color-dark2: #171b35;
$fill-color-dark3: #1b1f3f;
$fill-color-dark4: #25306d;
