@font-face {
    font-family: 'numFont';
    src: url('../font/DINEngAlt.ttf') format('ttf');
}

$color-primary: #007eff;
$color-contrast: #f54b45;

$color-black: black;
$color-black-1: #333333;
$color-black-2: #666666;
$color-black-3: #999999;
$color-white: white;
