@use './variables.scss';

:export {
    colorPrimary: $color-primary;
    colorContrast: $color-contrast;
    colorBlack: $color-black;
    colorBlack1: $color-black-1;
    colorBlack2: $color-black-2;
    colorBlack3: $color-black-3;
    colorWhite: $color-white;
    fillColorLight1: $fill-color-light1;
    fillColorLight2: $fill-color-light2;
    fillColorLight3: $fill-color-light3;
    fillColorDark1: $fill-color-dark1;
    fillColorDark2: $fill-color-dark2;
    fillColorDark3: $fill-color-dark3;
    fillColorDark4: $fill-color-dark4;
}
