@font-face {
  font-family: "iconfont"; /* Project id 3888909 */
  src: url('iconfont.woff2?t=1676011232984') format('woff2'),
       url('iconfont.woff?t=1676011232984') format('woff'),
       url('iconfont.ttf?t=1676011232984') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-data:before {
  content: "\e6f9";
}

.icon-biaoge2:before {
  content: "\e80c";
}

.icon-chengshixuanze:before {
  content: "\e80f";
}

.icon-ditugongju:before {
  content: "\e811";
}

.icon-dikuaisousuo1:before {
  content: "\e813";
}

.icon-fangchanshichangtongji1:before {
  content: "\e814";
}

.icon-tuditongji1:before {
  content: "\e81d";
}

.icon-sousuo2:before {
  content: "\e81f";
}

.icon-tudibaogao:before {
  content: "\e822";
}

.icon-shangzhang:before {
  content: "\e826";
}

.icon-xiajiang:before {
  content: "\e827";
}

.icon-xiala:before {
  content: "\e6b9";
}

.icon-paihangbang-2:before {
  content: "\e808";
}

.icon-paihangbang-1:before {
  content: "\e809";
}

.icon-paihangbang-3:before {
  content: "\e80a";
}

